openapi: 3.0.0
info:
  title: Eventful API
  description: AltSchool Backend Engineering Capstone Project
  version: 1.0.0
servers:
  - url: https://eventful-api.hostless.app/api/v1
    description: Production Server
  - url: http://localhost:5001/api/v1
    description: Local Development Server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  # ================= AUTHENTICATION =================
  /auth/register:
    post:
      summary: Register a new user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name: { type: string }
                email: { type: string }
                password: { type: string }
                role: { type: string, enum: [creator, eventee] }
      responses:
        '201': { description: User registered successfully (Returns verification message, requires email verification to login) }
        '400': { description: Bad Request }

  /auth/login:
    post:
      summary: Login a user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        '200': { description: Login successful }
        '401': { description: Invalid credentials }

  /auth/verify-email/{token}:
    get:
      summary: Verify a user's email address via token
      tags: [Authentication]
      parameters:
        - in: path
          name: token
          required: true
          schema: { type: string }
      responses:
        '200': { description: Email verified successfully }
        '400': { description: Invalid or expired verification token }

  # ================= EVENTS =================
  /events:
    get:
      summary: Get all events (Cached)
      tags: [Events]
      responses:
        '200': { description: A list of events }
          
    post:
      summary: Create a new event
      tags: [Events]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string }
                date: { type: string, format: date-time }
                location: { type: string }
                price: { type: number }
                capacity: { type: number }
      responses:
        '201': { description: Event created successfully }
        '403': { description: Forbidden (Not a creator) }

  /events/{id}:
    get:
      summary: Get a specific event by ID
      tags: [Events]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Event details }
        '404': { description: Event not found }

  /events/{id}/share:
    get:
      summary: Get social share links for an event
      tags: [Events]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Share links generated }

  # ================= TICKETS & PAYMENTS =================
  /tickets/my-tickets:
    get:
      summary: Get all tickets purchased by the authenticated attendee
      tags: [Tickets]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: List of tickets populated with event details }
        '401': { description: Unauthorized (Missing or invalid token) }

  /tickets/buy/{eventId}:
    post:
      summary: Initialize ticket purchase (Paystack)
      tags: [Tickets]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: eventId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Payment initialized (Returns Paystack URL) }
        '400': { description: Event sold out or invalid }

  /tickets/verify/{reference}:
    get:
      summary: Verify Paystack payment & Generate QR Code Ticket
      tags: [Tickets]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: reference
          required: true
          schema: { type: string }
      responses:
        '201': { description: Ticket and QR Code generated }
        '400': { description: Payment verification failed }

  /tickets/scan/{reference}:
    post:
      summary: Scan and validate an attendee's ticket
      tags: [Tickets]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: reference
          required: true
          schema: { type: string }
      responses:
        '200': { description: Ticket verified and attendee admitted }
        '400': { description: Invalid scan or ticket already used }
        '403': { description: Unauthorized (Not the event creator) }

  /tickets/{ticketId}/reminder:
    post:
      summary: Set a personal email reminder for an event
      tags: [Tickets]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: ticketId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delayInHours: { type: number }
      responses:
        '200': { description: Reminder scheduled successfully }
        '400': { description: Invalid ticket or time already passed }

  /payments/history:
    get:
      summary: Get creator payment and revenue history
      tags: [Payments]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Payment ledger retrieved }
        '403': { description: Forbidden }

  # ================= ANALYTICS =================
  /analytics/global:
    get:
      summary: Get all-time analytics for a creator
      tags: [Analytics]
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Global stats retrieved }

  /analytics/event/{eventId}:
    get:
      summary: Get analytics for a specific event
      tags: [Analytics]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: eventId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Event stats retrieved }